<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../CSS/woloni.css">
	<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../JS/woloni.js"></script>
	<title>AngularJS</title>
</head>
<body ng-app="myApp" ng-controller="namesCtrl">
	<header>
		<div class="topnav" >
	        <input type="text" name="heure" class="liv heure" placeholder="AUX PLUS VITE">  
	        <label class="a"> à </label>
	        <input type="text" name="livraison" class="liv adress" list="quartier" placeholder="Saisissez votre adresse de livraison" ng-change="tempsLivraison(valeur)" ng-model="valeur">
	        <datalist id="quartier">
	          <option ng-repeat="quartier in quartiers" value="{{ quartier }}"></option>
	        </datalist>
			<a href="#inscription" class="right inscription">Inscription</a>
			<a href="#connexion" class="right connexion">Connexion</a>
		</div>
	</header>
	<div class="container">
		<div class="head">
			<h1>Commander vos repas dans les meilleurs restaurant de Bamako en ligne!</h1>
			<h2>Vos repas livrez en 30 minutes chez vous ou au bureau !</h2>
		</div>
	</div>
	<div class="restopop">
		<div class="explication">Commandez facilement en 4 étapes pour être livré jusqu'à votre porte ! 
			<div class="plus" ng-click ="info = ! info">En savoir plus ! </div>
    	</div>
  		<div ng-show="info">
		    <div  class="p">1.Selectionner votre restaurant</div>
		    <div  class="p">2.Choisissez votre repas</div>
		    <div  class="p">3.Payez de manière sécurisé en ligne ou à la livraison</div>
		    <div  class="p">4.Vous êtes livré chez vous, dégustez votre repas !</div>
  		</div>  
          <br>
			<div class="resto" ng-repeat="restau in restaurants | orderBy : 'time'">
	    	<a href="">
	    		<div class="image"  ng-style="{'background-image': 'url(' + restau.url + ')'}"></div>
	    		<div class="description">
	      			<div class="minimum">	{{restau.minimum + 'Fcfa'}}</div>
	      			<div class="title">{{ restau.name }}</div>
	      			<div class="price">{{restau.price}}</div>
	      			<div class="time">{{restau.time + 'min · Livraison : '+ restau.livraison +'Fcfa'}}</div>
	    		</div>
	    	</a>
	 		</div>
		</div>
<script src="namesController.js"></script>

</body>
</html>