<!DOCTYPE html>
<html>
<head>
	<title>Woloni - L'olympien</title>
	<link rel="stylesheet" type="text/css" href="../CSS/woloni.css">
	<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  	<script src="../JS/woloni.js"></script>
</head>
<body ng-app="myApp" ng-controller="namesCtrl">
	<header>
		<!-- Bar de navigation -->
		<div class="topnav" >
	        <input type="text" name="heure" class="liv heure" placeholder="AUX PLUS VITE">  
	        <label class="a"> à </label>
	        <input type="text" name="livraison" class="liv adress" list="quartier" placeholder="Saisissez votre adresse de livraison">
	        <datalist id="quartier">
	          <option ng-repeat="quartier in quartiers" value="{{ quartier }}"></option>
	        </datalist>
			<a href="#inscription" class="right inscription">Inscription</a>
			<a href="#connexion" class="right connexion">Connexion</a>
		</div>
	</header>
	<div class="container olympien">
		<div class="carte">
			<p class="infoCarteTitle"><strong> L'olympien - Quartier du fleuve</strong></p>
			<p class="infoCarteTitle">€€ · Italien · Pizza</p>
			<p class="infoCarte">Minimum : 5000Fcfa</p>
			<p class="infoCarte">Livraison 1500Fcfa</p>
			<p class="delai"></p>
		</div>
	</div>
	<div class="options">
		<center><strong>
			<a href="" class="option">Menu</a> 
			<a href="" class="option">Avis</a> 
			<a href="" class="option">Infos</a> 
		</strong></center>
	</div>
	<div class="commande">
		<div class="index">
			<ul class="menuIndex">
				<li class="categorie">Produits populaire</li>
				<li class="categorie">Pizza base tomate</li>
				<li class="categorie">Pizza base crême fraiche</li>
				<li class="categorie">Plats</li>
				<li class="categorie">Dessert</li>
				<li class="categorie">Boissons</li>
			</ul>
		</div>
	<div class="menu">
		<h3>Produits populaire</h3>
		<div class="item">
			<div class="produit">
				<p class="name"><strong>Margharita</strong></p>
				<p class="ingredient">Tomates, fromages, olives</p>
			</div>
			<div class="caisse">
				<div>
					<div class="size b">
						<div class="taille">Petite</div>
						<div class="prix">
							<strong>3000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
						
					</div>
					<div class="size b">
						<div class="taille">Moyenne</div>
						<div class="prix">
							<strong>4000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
					</div>
					<div class="size">
						<div class="taille">Grande</div>
						<div class="prix">
							<strong>5000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="item">
			<div class="produit">
				<p class="name"><strong>Reine</strong></p>
				<p class="ingredient">Jambon, Tomates, champignons fromages, olives</p>
			</div>
			<div class="caisse">
				<div>
					<div class="size b">
						<div class="taille">Petite</div>
						<div class="prix">
							<strong>3000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
						
					</div>
					<div class="size b">
						<div class="taille">Moyenne</div>
						<div class="prix">
							<strong>4000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
					</div>
					<div class="size">
						<div class="taille">Grande</div>
						<div class="prix">
							<strong>5000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="item">
			<div class="produit">
				<p class="name"><strong>Orientale</strong></p>
				<p class="ingredient">Merguez, Tomates, poivrons fromages, olives</p>
			</div>
			<div class="caisse">
				<div>
					<div class="size b">
						<div class="taille">Petite</div>
						<div class="prix">
							<strong>3000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
						
					</div>
					<div class="size b">
						<div class="taille">Moyenne</div>
						<div class="prix">
							<strong>4000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
					</div>
					<div class="size">
						<div class="taille">Grande</div>
						<div class="prix">
							<strong>5000cfa </strong>
							<i class="material-icons">add_circle_outline</i>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>