<header>
		<div class="topnav" >
	        <input type="text" name="heure" class="liv heure" placeholder="AUX PLUS VITE">  
	        <label class="a"> à </label>
	        <input type="text" name="livraison" class="liv adress" list="quartier" placeholder="Saisissez votre adresse de livraison">
	        <datalist id="quartier">
	          <option ng-repeat="quartier in quartiers" value="{{ quartier }}"></option>
	        </datalist>
			<a href="#inscription" class="right inscription">Inscription</a>
			<a href="#connexion" class="right connexion">Connexion</a>
		</div>
</header>